@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
  
  
html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.botao-tela-inicial {
  font-family: 'Shera';
  padding: 1rem 1.25rem;
  font-size: 1.5rem;
  letter-spacing: .25rem;
  box-shadow: 2px 2px 0px 1px #4a4c69;
  text-transform: uppercase;
  background: #D1913C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFD194, #cebd53);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFD194, #cebd53); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  border: none;
  border-radius: .75rem;
  color: #fff;
}

.botao-tela-inicial:hover {
  background: #D1913C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FFD194, #cebd53);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FFD194, #cebd53); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  box-shadow: 2px 2px 0px 1px #222222;
  cursor: pointer;
}